<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" value="{{ description }}">
    <style type="text/css">
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        main {
            width: 400px;
            margin: 0 auto;
        }
        nav {
            text-align: center;
            margin: 2em 0;
        }
        h1, h2, p {
            text-align: center;
        }
        table td, table th {
            padding: .5em;
        }
    </style>
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
        <p><img src="https://openclipart.org/download/194531/doushouqi-wolf.svg" width="200" /></p>
        <p>{{ description }}</p>
    </header>
    <nav>
        {% for id, format in formats %}
            <a href="#{{ id }}">{{ format.heading }}</a>
        {% endfor %}
    </nav>
    <main>
        {% for id, format in formats %}
            <hr>
            <section id="{{ id }}">
                <h2>{{ format.heading }}</h2>
                {% if format.phpFormat %}
                    <p>{{ exampleDate|date(format.phpFormat) }}</p>
                {% endif %}
                {% if format.description %}
                    <p>{{ format.description }}</p>
                {% endif %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Example</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sample in format.samples %}
                            <tr>
                                <th>{{ sample.name }}</th>
                                <td>
                                    <code>
                                        {{ sample.code|trim|nl2br }}
                                    </code>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        {% endfor %}
    </main>
</body>
</html>
